/* Project includes a custom-made stylesheet that uses typography styles */

html, body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  min-width: 650px;
}

h1 {
  font-family: 'Pacifico', cursive, sans-serif;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

img {
  float: left;
  width: 30%;
  margin-right: 20px;
  max-width: 200px;
}

.projects, .background, footer {
  font-size: 1.2em;
  line-height: 1.5em;
}

footer {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 965px) {
  .hobbies {
    text-align: center;
  }

  .hobbies h3 {
    padding-left: 35px;
  }

  ol {
    list-style-type: none;
  }
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive; */

/* COLOR PALLATE 
$desert-sand: #ecc8afff;
$melon: #e7ad99ff;
$new-york-pink: #ce796bff;
$camel: #c18c5dff;
$black-coral: #495867ff;

$desert-sand: rgba(236, 200, 175, 1);
$melon: rgba(231, 173, 153, 1);
$new-york-pink: rgba(206, 121, 107, 1);
$camel: rgba(193, 140, 93, 1);
$black-coral: rgba(73, 88, 103, 1);
*/
