/* Project includes a custom-made stylesheet that uses typography styles, cascading, the box modelYES, and floatsYES. */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-width: 650px;
}

img {
  float: left;
  width: 30%;
  margin-right: 20px;
  max-width: 200px;
}

footer {
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 965px) {
  .hobbies {
    text-align: center;
  }

  .hobbies h3 {
    padding-left: 35px;
  }

  ol {
    list-style-type: none;
  }
}
